<!-- Footer -->
<footer class="footer mt-auto page-footer font-small stylish-color-dark py-4">
<hr>
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Other Community Projects</h5>
          <p>Other examples hosted on Github.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/SuperOffice/DevNet-Angular-OpenID-REST" target="_blank">Angular OIDC</a>
            </li>
            <li>
              <a href="https://github.com/SuperOffice/SuperOffice.DevNet.OpenIDConnectNativeApp" target="_blank">OAuth2.0 Native App</a>
            </li>
            <li>
              <a href="https://github.com/SuperOffice/devnet-oidc-aspnet-core-20">Asp.Net Core Web App</a>
            </li>
            <li>
              <a href="https://github.com/SuperOffice/SuperOffice.DevNet.Online">Older .Net Web Apps</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/superoffice.devnet" target="_blank">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1"  href="https://www.twitter.com/sodevnet" target="_blank">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-yout mx-1" href="https://youtube.com/user/sodevnet" target="_blank">
          <i class="fa fa-youtube"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://github.com/SuperOffice" target="_blank">
          <i class="fa fa-github"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://community.superoffice.com/en/developer/">SuperOffice Developer Community</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->