<div class="container">
  <form class="form-signin" method="GET" action="/openid">
    <h1 class="h3 mb-3 font-weight-normal">Choose to sign in with:</h1>
    <p>&nbsp;</p>
    <div class="signin">
      <button class="btn btn-lg btn-primary btn-block" type="submit">SuperOffice Online (SOD)</button>
    </div>
    <br>
    <p>&nbsp;</p>
  </form>
</div>  